<%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>


    <!-- Page content-->
    
      <div class="container mt-5">
        <div class="row">
          <%- include('./partials/_article'); %>
          
        </div>
        
      </div>



      </div>
    </div>
  </div>
</div>
<%- include('./partials/_footer'); %>
</body>
<%- include('./partials/_end'); %>


