<%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <br>
          <h2> <%= entity %> </h2>
          <hr>
          <br>
          <h3> category </h3>
          <div class="list-group">
            <a href="url" class="list-group-item">
              <h4 class="list-group-item-heading"> project tittle </h4>
              <p class="list-group-item-text"> project url </p>
            </a>
          </div>
          <div class="list-group">
            <a href="url" class="list-group-item">
              <h4 class="list-group-item-heading"> project tittle </h4>
              <p class="list-group-item-text"> project url </p>
            </a>
          </div>
          <div class="list-group">
            <a href="url" class="list-group-item">
              <h4 class="list-group-item-heading"> project tittle </h4>
              <p class="list-group-item-text"> project url </p>
            </a>
          </div>
          <br>
          <br>
          <h3> category </h3>
          <div class="list-group">
            <a href="url" class="list-group-item">
              <h4 class="list-group-item-heading"> project tittle </h4>
              <p class="list-group-item-text"> project url </p>
            </a>
          </div>
          <div class="list-group">
            <a href="url" class="list-group-item">
              <h4 class="list-group-item-heading"> project tittle </h4>
              <p class="list-group-item-text"> project url </p>
            </a>
          </div>
          <div class="list-group">
            <a href="url" class="list-group-item">
              <h4 class="list-group-item-heading"> project tittle </h4>
              <p class="list-group-item-text"> project url </p>
            </a>
          </div>
          <br>
          <br>
          <h3> category </h3>
          <div class="list-group">
            <a href="url" class="list-group-item">
              <h4 class="list-group-item-heading"> project tittle </h4>
              <p class="list-group-item-text"> project url </p>
            </a>
          </div>
          <div class="list-group">
            <a href="url" class="list-group-item">
              <h4 class="list-group-item-heading"> project tittle </h4>
              <p class="list-group-item-text"> project url </p>
            </a>
          </div>
          <div class="list-group">
            <a href="url" class="list-group-item">
              <h4 class="list-group-item-heading"> project tittle </h4>
              <p class="list-group-item-text"> project url </p>
            </a>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/_footer'); %>
</body>
<%- include('./partials/_end'); %>


