<%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container">
      <div class="row">
      <div class="col-lg-8">
      <br>
      <h2> <%= entity %> </h2>
  
      <hr>
  
          <%- include('./partials/_projects'); %>
          
        
        
      



      </div>
    </div>
  </div>
</div>
<%- include('./partials/_footer'); %>
</body>
<%- include('./partials/_end'); %>


